<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>
<body>
    <h3>Logs</h3>
    <table>
        <tr>
            <th>Request IP</th>
            <th>Target URL</th>
            <th>Result</th>
            <th>Timestamp</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td> {{ log[1] }} </td>
                <td> {{ log[2] }} </td>
                <td> {{ log[3] }} </td>
                <td> {{ log[4] }} </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Feedback</h3>
    <table>
        <tr>
            <th>Request IP</th>
            <th>Feedback</th>
            <th>Email</th>
            <th>Timestamp</th>
        </tr>
        {% for feedback in feedbacks %}
            <tr>
                <td> {{ feedback[1] }} </td>
                <td> {{ feedback[2] }} </td>
                <td> {{ feedback[3] }} </td>
                <td> {{ feedback[4] }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>